<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ion-item>
    <ion-input label="Nom d'utilisateur" labelPlacement="stacked" formControlName="username" type="text"></ion-input>
  </ion-item>
  <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
    <ion-note color="danger">Merci d'entrer un nom d'utilisateur valide.</ion-note>
  </div>

  <ion-item>
    <ion-input label="Mot de passe" labelPlacement="stacked" formControlName="password" type="password"></ion-input>
  </ion-item>
  <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
    <ion-note color="danger">Un mot de passe est requis (minimum 3 caractères).</ion-note>
  </div>

  <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Se connecter</ion-button>
</form>
